<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757805293817-va0dgott7uibf7h00auqt35k7lput035.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757805293817-va0dgott7uibf7h00auqt35k7lput035</string>
	<key>API_KEY</key>
	<string>AIzaSyByP-g6VzG-oiybR-BC9pm-2StmG0fsN7M</string>
	<key>GCM_SENDER_ID</key>
	<string>757805293817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterecomapp</string>
	<key>PROJECT_ID</key>
	<string>hospitaldatabase-9cbe0</string>
	<key>STORAGE_BUCKET</key>
	<string>hospitaldatabase-9cbe0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757805293817:ios:a518145bf7197e99724228</string>
	<key>DATABASE_URL</key>
	<string>https://hospitaldatabase-9cbe0.firebaseio.com</string>
</dict>
</plist>